@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@300;400&family=Rubik:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.green-icon{
    color:#9EFF00;
   
}
span.size-34 {
    font-size: 34px;
    font-variation-settings: 'OPSZ' 34;
  }